* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: palevioletred;
}
.card{
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}
.card:hover{
    transform: rotate(-5deg);
}
.card:hover .outside {
    transform: rotateY(-130deg);
}

.outside,
.inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
}
.inside {
    background: linear-gradient(to right, #e0e0e0, white 30%);
    line-height: 1;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    font-size: 15px;
}
.outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
}
.front, 
.back{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    background-color: white;
}
.front {
    background-color: white;
}
.back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e0e0e0, white 30 %);
}
.outside p {
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
}